extends layout

block content
  .btn-group.btn-group-justified(role='group')
      a.remote-action.btn.btn-default(type='button', data-device='logitech_stereo', data-command='KEY_POWER')
        span.glyphicon.glyphicon-off(aria-hidden='true') &nbsp;Stereo
      |   
      a.remote-action.btn.btn-default(type='button', data-device='projector', data-command='KEY_POWER') 
        span.glyphicon.glyphicon-off(aria-hidden='true') &nbsp;Projector

  div#div1
